ion-header {
    background-color: #007aff; // Cambia el color del encabezado
    color: white;
  }
  
  ion-list {
    --ion-item-background: #f9f9f9; // Color de fondo para los items
  }
  
  h2 {
    color: #333; // Color para los títulos de las juntas
  }
  
  p {
    color: #666; // Color para la descripción
  }
  