body {
  overflow: auto;
  margin: 0;
}

.banner {
  background-image: url('https://i.postimg.cc/tgdQr3zN/imagen-2024-10-30-152059754.png');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
  overflow: hidden;
  position: relative;
}

.logo {
  position: absolute;
  top: 100px; 
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

.logo img {
  width: 350px !important; 
  height: auto;
  max-width: none;
}

ion-content {
  --background: rgba(0, 0, 0, 0.1);
}

.contenido {
  bottom: 250px;
  position: relative;
  padding: 80px 20px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  margin: -50px auto 0;
  width: 80%;
  max-width: 400px;
  color: #333;
  z-index: 2;
}

.titulo {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.botones {
  margin-top: 20px;
}

.error-message {
  color: red;
  text-align: center;
  margin-top: 10px;
}

.terminos {
  font-size: 12px;
  text-align: center;
  margin-top: 20px;
  color: #777;
}

.color {
  --background: rgba(255, 255, 255, 0.3);
}

.color ion-label {
  color: #333;
}

.color ion-input {
  color: #333;
}

.color ion-input::placeholder {
  color: rgba(0, 0, 0, 0.5);
}
