<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-buttons slot="start" routerLink="/login">
        <ion-button fill="clear">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Registrar</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="banner">
    <div class="contenido">
      <h1 class="titulo">Te estás Registrando en BarrioActivo</h1>

      <form [formGroup]="usuarioform" (ngSubmit)="register()">
        <ion-item class="color">
          <ion-label position="floating">Rut</ion-label>
          <ion-input type="text" placeholder="Ingrese Rut" formControlName="rut"></ion-input>
        </ion-item>
        <ion-item class="color">
          <ion-label position="floating">Nombre</ion-label>
          <ion-input type="text" placeholder="Ingrese Nombre" formControlName="nombre"></ion-input>
        </ion-item>
        <ion-item class="color">
          <ion-label position="floating">Apellido Paterno</ion-label>
          <ion-input type="text" placeholder="Ingrese Apellido Paterno" formControlName="a_paterno"></ion-input>
        </ion-item>
        <ion-item class="color">
          <ion-label position="floating">Apellido Materno</ion-label>
          <ion-input type="text" placeholder="Ingrese Apellido Materno" formControlName="a_materno"></ion-input>
        </ion-item>
        <ion-item class="color">
          <ion-label position="floating">Correo Electrónico</ion-label>
          <ion-input type="email" placeholder="Ingrese su Correo" formControlName="email"></ion-input>
        </ion-item>
        <ion-item class="color">
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" placeholder="Ingresar Contraseña" formControlName="contrasena"></ion-input>
        </ion-item>
        <ion-item class="color">
          <ion-label position="floating">Confirmar Contraseña</ion-label>
          <ion-input type="password" placeholder="Ingresar Contraseña" formControlName="confirmarContrasena"></ion-input>
        </ion-item>

        <div class="botones">
          <ion-button expand="full" color="primary" type="submit">Registrar</ion-button>
          <div *ngIf="errormessage" class="error-message">{{ errormessage }}</div>
          <ion-button expand="full" fill="clear" routerLink="/login">¿Ya tienes una cuenta? Iniciar sesión</ion-button>
        </div>

        <p class="terminos">Al continuar, aceptas los Términos de uso. Lea nuestra Política de Privacidad.</p>
      </form>
    </div>
  </div>
</ion-app>

