<ion-app>
  <ion-header translucent>
    <ion-toolbar>
      <ion-buttons slot="start" routerLink="/juntap/:id_usuario">
        <ion-button fill="clear">
          <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-title>Crear Petición</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="banner">
    <div class="contenido">
      <h1 class="titulo">Realizar Petición</h1>
      <form [formGroup]="peticionform">
        <ion-item class="color">
          <ion-label position="floating">Tema</ion-label>
          <ion-input formControlName="tipo_solicitud" placeholder="Ingrese que desea solicitar" formControlName="tema" name="descripcionSolicitud"></ion-input>
        </ion-item>
  

      <ion-item class="color">
        <ion-label position="floating">Descripción</ion-label>
        <ion-input formControlName="descripcion" placeholder="Ingrese una descripción" formControlName="tema" name="descripcionSolicitud"></ion-input>
      </ion-item>

      <ion-item class="color">
        <ion-label position="floating">Fecha y Hora de inicio</ion-label>
        <br>
        <br>
        <ion-datetime formControlName="fecha_inicio" name="fechaHoraSolicitud"></ion-datetime>
      </ion-item>

      <ion-item class="color">
        <ion-label position="floating">Fecha y Hora de fin</ion-label>
        <br>
        <br>
        <ion-datetime formControlName="fecha_fin" name="fechaHoraSolicitud"></ion-datetime>
      </ion-item>

      <div class="botones">
        <ion-button expand="full" color="primary" (click)="enviarSolicitud()">Enviar</ion-button>
      </div>
    </form>   
    </div>
  </div>
</ion-app>
