<ion-app>
  <ion-header translucent>
  </ion-header>

  <div class="banner">
    <div class="contenido">    
      <h1 class="titulo">Bienvenido a BarrioActivo</h1>

      <form [formGroup]="loginform" (ngSubmit)="login()">
        <ion-item class="color">
          <ion-label position="floating">Correo Electrónico</ion-label>
          <ion-input type="email" placeholder="Ingrese Correo" formControlName="u_email"></ion-input>
        </ion-item>

        <ion-item class="color">
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input type="password" placeholder="Ingrese Contraseña" formControlName="u_contrasena"></ion-input>
        </ion-item>

        <div class="botones">
          <ion-button expand="full" color="primary" type="submit">Iniciar sesión</ion-button>
          <div *ngIf="errormessage" class="error-message">{{ errormessage }}</div>
          <ion-button expand="full" fill="clear" routerLink="/register">¿No tienes cuenta? Registrarse</ion-button>
          
        </div>


        <p class="terminos">Al continuar, aceptas los Términos de uso. Lee nuestra Política de Privacidad.</p>
      </form>
    </div>
  </div>
</ion-app>
